.mainBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    border-radius: 16px;
    background: url('./Bg1.png');
}

.mainBox a {
    text-decoration: none;
}

.mainBox a:hover {
    text-decoration: none;
    color: #ff7300;
}

.mainBox a:visited {
    color: #ffffff;
}

.contactsBox {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.linkBtn {
    background-color: #0b94ca;
    padding: 8px;
    border-radius: 8px;
    -webkit-box-shadow: -3px 3px 0px 3px rgba(4, 33, 56, 0.2);
    -moz-box-shadow: -3px 3px 0px 3px rgba(4, 33, 56, 0.2);
    box-shadow: -3px 3px 0px 3px rgba(4, 33, 56, 0.2);
}

.linkBtn:hover {
    background-color: #1ba3da;
}

.textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 0px 30px;
    color: #ffffff;
}

.textBox p {
    font-size: 16px;
}

.stackBox {
    display: flex ;
    padding: 0px 60px;
}

.iconBackground {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    -webkit-box-shadow: -3px 2px 0px 3px rgba(4, 33, 56, 0.2);
    -moz-box-shadow: -3px 2px 0px 3px rgba(4, 33, 56, 0.2);
    box-shadow: -3px 2px 0px 3px rgba(4, 33, 56, 0.2);
}

.projectBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding: 0px 30px 50px 30px;
}

.pLinkBtn {
    width: 200px;
    background-color: #0b94ca;
    padding: 8px;
    border-radius: 8px;
    -webkit-box-shadow: -3px 3px 0px 3px rgba(4, 33, 56, 0.2);
    -moz-box-shadow: -3px 3px 0px 3px rgba(4, 33, 56, 0.2);
    box-shadow: -3px 3px 0px 3px rgba(4, 33, 56, 0.2);
}

.pLinkBtn:hover {
    background-color: #1ba3da;
}

.closeBtn {
    position: absolute;
    left: 92%;
    top: 10px;
}

@media (max-width: 993px) {
    .mainBox {
        width: 80%;
        height: 75%;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        border-radius: 16px;
        background: url('./Bg1.png');
    }
    
    .contactsBox {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    .linkBtn {
        background-color: #0b94ca;
        padding: 5px;
        border-radius: 8px;
        -webkit-box-shadow: -3px 3px 0px 3px rgba(4, 33, 56, 0.2);
        -moz-box-shadow: -3px 3px 0px 3px rgba(4, 33, 56, 0.2);
        box-shadow: -3px 3px 0px 3px rgba(4, 33, 56, 0.2);
    }
    
    .textBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 30px 0px 30px;
        color: #ffffff;
    }
    
    .stackBox {
        /* visibility: hidden; */
        display: flex ;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0px 0px;
    }

    .stackBox img {
        width: 30px;
        height: 30px;
    }
    
    .iconBackground {
        width: 40px;
        height: 40px;
        background-color: #ffffff;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px;
        -webkit-box-shadow: -3px 2px 0px 3px rgba(4, 33, 56, 0.2);
        -moz-box-shadow: -3px 2px 0px 3px rgba(4, 33, 56, 0.2);
        box-shadow: -3px 2px 0px 3px rgba(4, 33, 56, 0.2);
    }
    
    .projectBox {
        display: none;
        flex-direction: column;
        align-items: center;
        color: #ffffff;
        padding: 0px 30px 50px 30px;
    }
    
    .pLinkBtn {
        width: 200px;
        background-color: #0b94ca;
        padding: 8px;
        border-radius: 8px;
        -webkit-box-shadow: -3px 3px 0px 3px rgba(4, 33, 56, 0.2);
        -moz-box-shadow: -3px 3px 0px 3px rgba(4, 33, 56, 0.2);
        box-shadow: -3px 3px 0px 3px rgba(4, 33, 56, 0.2);
    }
    
    .pLinkBtn:hover {
        
        background-color: #1ba3da;
    }
    
    .closeBtn {
        position: absolute;
        left: 85%;
        top: 7px;
    }

    .closeBtn img {
        width: 40px;
        height: 40px;
    }

    }